<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
    <listeners>
        <listener class-name="TestNGTutorial.Listeners"/>
    </listeners>
    <test name="Personal Loan">
        <parameter name="URL" value="https://rahulshettyacademy.com/practice"/>
        <parameter name="APIKEY" value="123456"/>
        <parameter name="username" value="654321"/>
        <classes>
            <class name="TestNGTutorial.Day1">
                <methods>
                    <include name="Demo"/>
                </methods>
            </class>
            <class name="TestNGTutorial.Day2"/>
        </classes>
    </test>

    <test name="Car Loan">
        <parameter name="URL" value="https://carLoan.com"/>
        <classes>
            <class name="TestNGTutorial.Day3">
                <methods>
                    <exclude name="Api.*"/>
                    <!--                    <include name="LoginAPICarLoan"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>

